body {
    box-sizing: border-box;
    margin: 0;
  }

#parallax-container {
    display: block;
    height: 750px;
}

#parallax-container div {
    position: fixed;
    top: 0;
    background-position: center !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
}

#first-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax0.png");
}

#second-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax1.png");
}

#third-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax2.png");
}

#fourth-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax3.png");
}

#fifth-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax4.png");
}

#sixth-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax5.png");
}

#seventh-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax6.png");
}

#eighth-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax7.png");
}

#ninth-layer {
    background: url("http://www.firewatchgame.com/images/parallax/parallax8.png");
}